



html{
    background-image: linear-gradient(to bottom, #fdfdfd, #fbfdff, #f8fdff, #f3fdff, #eefeff, #e1feff, #d4fffd, #c7fffa, #abfff7, #8bfff4, #62fef1, #00fded););
    background size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative}

p{
 font-size: 22px
  
}

li{
 font-size: 22px
}

table{
 font-size: 20px
}
